/*header*/

header {
	display: flex;
	justify-content: space-between;
	padding: 16px 24px;
	border-bottom: 1px #527A8D solid;
}

.logo {
	display: flex;
	align-items: center;
}

ul {
	display: flex;
}

ul li {
	margin: 8px;
}

.academy {
	opacity: 0.5;
}

nav a:hover {
	opacity: 0.5;
}