/*color palette http://paletton.com/#uid=13H0u0kllllUheiuShObOoS2fso */

/*universal*/

html {
	font-size: 18px;
}

h1 {
	font-size: 2rem;
}

h2 {
	font-size: 1.66rem;
}

h3 {
	font-size: 1.25rem;
}

/*header*/

header {
	display: flex;
	justify-content: space-between;
	padding: 16px 24px;
	border-bottom: 1px #011C4B solid;
}

.logo {
	display: flex;
	align-items: center;
}

ul {
	display: flex;
}

ul li {
	margin: 8px;
}

.academy {
	opacity: 0.5;
}

nav a:hover {
	opacity: 0.5;
}

/*banner*/

.banner {
	display: flex;
	max-height: 500px;
	padding: 32px 24px;
	background-color: #8C9096;
}

.banner img {
	display: block;
	max-width: 60%;
	width: auto;
	height: auto;
}

.banner-text {
	position: relative;
	left: 24px;
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.banner-text h1,
.banner-text h3 {
	margin-right: 64px;
	margin-bottom: 32px;
}

.banner-text h1 span {
	opacity: 0.5;
	text-transform: uppercase;
}

.button.start {
	background-color: white;
	padding-top: 8px;
	padding-bottom: 8px;
	border-radius: 8px;
	margin-bottom: 0;
}

.button.start:hover {
	background-color: black;
	color: white;
}

/*information*/

.info {
	display: flex;

	padding: 32px 24px;
	border: 1px red solid;
}

.practice {
	width: 60%;
}

.practice img {
	width: 100%;
	height: auto;
	margin-bottom: 32px;
}

.practice p {
	margin: 24px 0;
}

.events {
	display: flex;
	flex-direction: column;
	width: 40%;
}

.event-block {
	display: flex;
}

.event-block img {
	width: 35%;

}